<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>授权系统</display-name>
	<description>授权系统</description>
	
	<!-- Spring配置 -->
	<!-- 指定Spring Bean的配置文件所在目录。默认配置在WEB-INF目录下 -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/spring-beans.xml</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/spring-servlet.xml</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 仅仅在调试的时候注视掉,在正式部署的时候不能注释 -->
	<!-- 这样配置也是可以的，表示发生500错误的时候，转到500.jsp页面处理。 -->
	<!-- 这样的配置表示如果jsp页面或者servlet发生java.lang.Exception类型（当然包含子类）的异常就会转到500.jsp页面处理。 -->
	<!-- <error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/views/500.jsp</location>
	</error-page> -->
	<!-- 当error-code和exception-type都配置时，exception-type配置的页面优先级高 及出现500错误，发生异常Exception时会跳转到500.jsp -->
</web-app>
